body {
    background-color:rgb(226, 208, 211)
    p::font-size: 20;
    p::font-variant: american typewriter 

}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 60% 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "AboutHeader"
    "Headshot"
    "Content1"
    "Content2";
}
/*AboutHeader styling*/
.AboutHeader {grid-area: Header;
        color: palevioletred;
        text-size-adjust: 70%;
        text-align: center;
}
.HeadShot {grid-area: Image;
    padding: 5%}

.Content1 {grid-area: Content;
    margin-left: 2em;
    font-size: 18 px;}

.Content2 {grid-area: Content;
    margin-left: 2em;
    font-size: 18 px;}
    
div {
    width: 300px;
    border: 15px palevioletred;
    padding: 50px;
    margin: 20px;
  }
@media screen and (max-width: 959px) {
    #container{
        width: 100%;
    }
    #left-column{
        width:70%
    }
    #right-column{
        width:30%
    }
    img{
        width:100%
    }
@media screen and (max-width: 640px) {
        #left-column{
            width:100%
        }
        #right-column{
            width:100%
        }
@media screen and (max-width: 320px) {
            #container{
                width: 100%;
            }
            header {
                position: relative;
                height: 40px;
                display: block;
                background-color: cadetblue;
                width: 100%;
                }
                #hamburger {
                display: inline-block;
                padding-left: 20px;
                width: 26px;
                float: left;
                font-size: 2em;
                }
                nav ul, nav:active ul {
                display: none;
                position: absolute;
                padding: 20px 20px 20px 0px;
                top: 20px;
                }
                nav:hover ul {
                display: block;
                }
                nav:hover #mobileHide {
                display: none;
                }
                nav li {
                text-align: center;
                padding: 0;
                margin: 0;
                }
                nav>ul li {
                text-align: left;
                font-weight: bold;
                color: darkmagenta;
                float: left;
                }
                nav a {
                text-decoration: none;
                display: inline-block;
                border-top: none;
                border-bottom: none;
                padding: 15px 0px 15px 35px;
                width: 240px;
                margin-bottom: 2px;
                }
                nav .lastMobile {border-bottom: 3px dotted magenta;}
                nav ul li ul {
                display:none;
                }
                }
                
